$background-color:#000619;
$nav-color: #30323D;
$font-white-color : #F4F4F4;
$font-orange-color : #C35434;
$background-color-white : #E2E3E3;
$font-size-small : 0.8vw;
$font-hover-orange-color: rgb(165, 74, 49);
$gray-slide-backgroud : #61636B ; 
$orange-slide-background : #C35434;
$red-hover-clearall-btn : #E11010;
$clearall-btn: #CE8683;