@import '../../sass/variables';

.CustomPageContainer{
    background-color: rgb(221, 221, 221);
    height: 100vh;
    margin-top: -2vh
}
.CustomPageContainer h1{
   padding-top: 50vh;
   padding-left: 48vw;
    
}

.configurator{
    position: fixed;
    right: 24px;
    width: 320px;
    bottom:25vh ;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.configurator__section__title{
    text-transform: uppercase;
}
.configurator__section__values{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
    flex-wrap: wrap;
}
.item__label{
    font-size: 15px;
}
.item__dot{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: solid 2px #9999;
}
.item:hover{
    opacity: 0.7;
    cursor: pointer;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

///////////////Slider //////////////////
/* Add this to your SliderStyles.css or your main styles */
.full-page-card {
    background-color: $gray-slide-backgroud ;
    border: 1px solid $gray-slide-backgroud ;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    text-align: center;
    
}

.all-slider-container{
    margin-top: 2vh;
    height: 80vh;
    width: 24vw;
    align-items: center;
    justify-content: center;
    
}


.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 0.9vw;
  
}
.navbar li {
    display: inline-block;
    width: 2vw;
    margin-left: 0vw;
    border-radius: 6px;
    box-shadow: 0px 2.5px rgba(0, 0, 0, 0.27);
    width: 6vw;
    align-items: center;
    justify-content: center;
    padding-top: 0.8vh;
    height: 4vh;
}
  
.navbar li.active {
    background-color: #793825;
}
.navbar li{
    transition: all 0.3s ease;
}
.navbar li:hover {
    background-color: #a34c32;
    cursor: pointer;
}
.full-page-card{
    height: 80vh;

}
.navbar{
    background-color: $orange-slide-background ;
    border-radius: 0px 0px 13px 13px;
    width:24vw;
    margin: 0;
    padding: 0;
    margin-right: 10vh;
}
.full-page-card h1{
    font-size: 1.5vw;
    font-weight:100;
}
#name-title-click {
    font-weight:100;

    color: $font-white-color;
}
.title-card-slider{
    background-color: $orange-slide-background;
    border-radius: 13px 13px 0px 0px;
    height: 6vh;
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spaceInside{
    height: 68vh;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 0px 0px 13px 13px;
    background-color: #61636B;
    overflow-y: scroll;
    overflow-x: hidden;

}
.Arrow-all{
    display: flex;
    position: relative;
    left: 1.3vw;
}
#arrow-btn-right{
    position: relative;
    left: 0.6vw;
}
#arrow-btn-right , #arrow-btn-left{
    box-shadow: 0px 4px rgba(0, 0, 0, 0.309);
    border-radius: 50%;
    transition: all 0.3s ease;

}
#arrow-btn-right:hover , #arrow-btn-left:hover{
    box-shadow: 0px 4px rgba(0, 0, 0, 0.309);
    border-radius: 50%;
    color: rgb(213, 213, 213);
}
.title-card-slider h1 {
    margin-left: 3vw;
    width: 12vw;
}
.Description-Boxes{
    width: 8.8vw;
    height: 5vh;
    padding-top: 0.4vh;
    text-align: left;
    
}
.Description-Boxes h4{
    font-size: 0.85vw;
    color: #000000;
    font-weight: 500;
}
.description-under p{
    font-weight: 200;
    color: #000000;
}
.description-under{
    display: flex;
    justify-content:space-between;
}
.description-info{
    opacity: 0.5;
}
.description-info:hover{
    opacity: 0.7;
    cursor: pointer;
}
.InnerBox{
    width: 10vw;
    border-radius: 1.2vw  ;
    height: 14.5vh;
    margin: 0.6vh;
    transition: opacity 0.3s ease; /* Add a transition for the opacity property */

}
.InnerBox img{
    background-position: center;
    background-size: cover;
    border-radius: 1.2vw;
    padding-top: 1vh;
    max-width: 10vw;
    max-height: 14.5vh;
    margin: auto;
    
}
.BoxComponent:hover .InnerBox{
    cursor: pointer;
    opacity: 0.9;
    
}
/// scroll bar ///
::-webkit-scrollbar{
    width: 0.5vw;
    border-radius:10px;

}

::-webkit-scrollbar-track{
    background: #D9D9D9;
    border-radius:10px;

}
::-webkit-scrollbar-thumb{
    background: $orange-slide-background;
    border-radius:10px;
}
.toggle-btn{
    background-color: red;
}
.all-slider-container {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add smooth transition effect */
    opacity: 1; /* Initial opacity */

  }
  .slider-content {
    opacity: 1; /* Initial opacity */
  }
  
  .open {
    transform: translateX(0);
  }
  
  .closed .slider-content {
    opacity: 0; /* Set opacity to 0 when closed */
    transition: opacity 0.3s ease; /* Add smooth transition effect for opacity */

  }
//   .closed .box-a-slide{
//     transform: translateX(100%);

//   }
  .closed{
    transform: translateX(100%);

  }

.toggle-button{
    height: 6vw;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 2vh;
    background-color:#4F5054;
    width: 1.75vw;
    height: 6vw;
    border-radius: 10px;
}
.box-a-slide{
    width: 1.75vw;
    height: 6vw;
    border-radius: 10px;
    margin-top: 40vh;
}
.slide-top{
    width: 100vw;
    position: relative;
    top: 20vh;
    right: 10vw;
    display: flex;
}