@import '../../sass/variables';



.configurator{
    position: fixed;
    width: 19.24vw;
    bottom:25vh ;
    color: white;
}

///////////////Slider //////////////////
.full-page-card {
    background-color: $gray-slide-backgroud ;
    border: 1px solid $gray-slide-backgroud ;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    text-align: center;
    
}

.all-slider-container{
    margin-top: 2vh;
    height: 80vh;
    width: 24vw;
    align-items: center;
    justify-content: center;
    
}


.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 0.9vw;
  
}
.navbar li {
    display: inline-block;
    width: 2vw;
    margin-left: 0vw;
    border-radius: 6px;
    box-shadow: 0.6px 3px 0px 0.3px rgba(0, 0, 0, 0.243);
    width: 6vw;
    align-items: center;
    justify-content: center;
    padding-top: 0.8vh;
    height: 4vh;
}
  
.navbar li.active {
    background-color: #793825;
}
.navbar li{
    transition: all 0.3s ease;
}
.navbar li:hover {
    background-color: #a34c32;
    cursor: pointer;
}
.full-page-card{
    height: 80vh;
    

}
.navbar{
    background-color: $orange-slide-background ;
    border-radius: 0px 0px 13px 13px;
    width:24vw;
    margin: 0;
    padding: 0;
    margin-right: 10vh;
}
.full-page-card h1{
    font-size: 1.5vw;
    
    font-weight:100;
}
#name-title-click {
    font-weight:100;

    color: $font-white-color;
}
.title-card-slider{
    background-color: $orange-slide-background;
    border-radius: 13px 13px 0px 0px;
    height: 6vh;
    width: 24vw;
    display: flex;
    align-items: center;
    
    justify-content: center;
}
.spaceInside{
    height: 64vh;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 0px 0px 13px 13px;
    background-color: #61636B;
    overflow-y: scroll;
    overflow-x: hidden;

}
.Arrow-all{
    display: flex;
    position: relative;
    left: 1.3vw;
}
#arrow-btn-right{
    position: relative;
    left: 0.6vw;
}
#arrow-btn-right , #arrow-btn-left{
    box-shadow: 0px 4px rgba(0, 0, 0, 0.309);
    border-radius: 50%;
    transition: all 0.3s ease;

}
#arrow-btn-right:hover , #arrow-btn-left:hover{
    box-shadow: 0px 4px rgba(0, 0, 0, 0.309);
    border-radius: 50%;
    color: rgb(213, 213, 213);
}
.title-card-slider h1 {
    margin-left: 3vw;
    width: 12vw;
}
.Description-Boxes{
    width: 8.8vw;
    height: 5vh;
    padding-top: 0.4vh;
    text-align: left;
    
}
.Description-Boxes h4{
    font-size: 0.85vw;
    color: #000000;
    font-weight: 500;
}
.description-under p{
    font-weight: 200;
    color: #000000;
}
.description-under{
    display: flex;
    justify-content:space-between;
}


.InnerBox{
    width: 10vw;
    border-radius: 1.2vw  ;
    height: 14.5vh;
    margin: 0.6vh;
    transition: opacity 0.2s ease; 

}
.InnerBox img{
    background-position: center;
    background-size: cover;
    border-radius: 1.2vw;
    padding-top: 1vh;
    max-width: 10vw;
    max-height: 14.5vh;
    margin: auto;
    
}
.BoxComponent:hover .InnerBox{
    cursor: pointer;

    opacity: 0.8;
    
}
/// scroll bar ///
::-webkit-scrollbar{
    width: 0.5vw;
    border-radius:10px;

}

::-webkit-scrollbar-track{
    background: #D9D9D9;
    border-radius:10px;

}
::-webkit-scrollbar-thumb{
    background: $orange-slide-background;
    border-radius:10px;
}
.toggle-btn{
    background-color: red;
}
.all-slider-container {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;

  }
  .slider-content {
    opacity: 1; 
  }
  
  .open {
    transform: translateX(0);
  }
  
  .closed .slider-content {
    opacity: 0; 
    transition: opacity 0.3s ease; 

  }
  .closed{
    transform: translateX(100%);

  }

.toggle-button{
    height: 6vw;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 2vh;
    background-color:#4F5054;
    width: 1.75vw;
    height: 6vw;
    border-radius: 10px;
    transition: all ease 0.25s;
}

.toggle-button:hover{
    background-color:#414245;

}
.box-a-slide{
    width: 1.75vw;
    height: 6vw;
    border-radius: 10px;
    margin-top: 40vh;
}
.slide-top{
    width: 100vw;
    position: relative;
    top: 20vh;
    left:72vw;
    display: flex;
}
.Bg-colorScreen{
    background-color: #61636B;
    z-index:98;
    height: 68vh;
    width: 22vw;
    position: absolute;
    width: 25vw;
    border-radius: 0px 0px 13px 13px;

}
.ChooseColorScreen{
    background-color: #FFFFFF;
    z-index:99;
    position: absolute;
    height: 62vh;
    border-radius: 0px 0px 13px 13px;
    width: 22vw;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    margin-left: 1vw;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.192);
}

//Color Palate  style ////////////
.ImagePropsPalate{
    background-color: #E2E3E3;
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-top: 4%;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 1vw;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.155);
    
}

.ImagePropsPalate img{
    width: 80%;
    margin-left: 2vw;
}
.NamePropsPalate , .PricesPropsPalate{
    // background-color: red;
    height: 6%;
}
.NamePropsPalate p {
    padding-right: 18vw;
    padding-top: 1vh;
}
.PricesPropsPalate p , .titleColorPalate h4{
    padding-right: 16.5vw;
    padding-top: 1vh;
    color: #333;
}
.ColorPropsPalate{
    margin-top: 0.3vh;
    height: 20%;
}
.SizePropsPalate{
    display: flex;
    justify-content: center;


}
.size-InsidePalate{
    background-color: rgb(190, 190, 190);
    width: 7vw;
    margin: 1vw;
    border-radius: 0.3vw;
}
.BtnPropsPalate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prev-btn-Palate , .next-btn-Palate{
    background-color: rgb(171, 159, 159);
    border-radius: 2vw;
    width: 5vw;
    height: 3vh;
    justify-content: space-between;
    margin: 2vw;
    font-size:.9vw;
    font-weight: 200;
    margin-top: 1.5vh;
    box-shadow:1px 3px rgba(42, 42, 42, 0.24);

}
.prev-btn-Palate{
    background-color: #000619;
}
.next-btn-Palate{
    background-color: #C35434;
}
.prev-btn-Palate:hover{
    box-shadow:1px 4px rgba(42, 42, 42, 0.24);
    background-color: #01081b;
    cursor: pointer;

}
.next-btn-Palate:hover{
    box-shadow:1px 4px rgba(42, 42, 42, 0.24);
    background-color: #b14d32;
    cursor: pointer;

}


//// color Palate Style 
.Inside-colorPalate {
    display: flex;
    gap: 20px; 
    z-index: 1;
    justify-content: center;
    align-items: center;
  }

  .colorBox {
    width: 25px; 
    height: 25px; 
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    background-color: rgb(186, 184, 184);

  }
  .colorBox:hover{
    width: 28px; 
    height: 28px; 
    box-shadow: 1px 3px rgba(0, 0, 0, 0.128);

  }

  

//component status
.progress-box , .Topic-Progress{
    display: flex;
    font-size: 0.87vw;
    color: #000619;
    font-weight: 400;

}
.Topic-Progress{
    color: #FFFFFF;

}


.BoxProgress{
    background-color: #61636B;
    position: absolute;
    bottom: -2.4vw;
    left: 3vw;
    width: 10vw;
    height: 65vh;
    border-radius: 0.5vw;
    box-shadow: 4px 4px rgba(41, 41, 41, 0.44);
    // overflow-y: scroll;
}
.Topic-Progress{
    background-color: #C35434;
    height: 4vh;
    border-radius: 12px 12px 0px 0px;
}
.progress-box{
    background-color: #E2E3E3;
    align-items: center;
    justify-content: center;
    margin-left: 0.5vw;
    width:9vw;
    height: 3vh;
    margin-top: 1vw;
    border-radius: 13px 13px 13px 13px;
    box-shadow: 4px 4px rgba(20, 20, 20, 0.429);
}
.Topic-icon{
    padding-top: 1vh;
    width: 1vw;
}
.Topic-L{
    width: 5vw;
    margin-left: 2.4vw;
}
.Topic-L p {
    justify-content: center;
    align-items: center;
    padding-left: 0.7vw;
    padding-top: .5vh;

}
.topic-name-AddOn  , .topic-name-req   , .topic-name-rec {
    font-size: 0.75vw;
    font-weight: 100;
    display: flex;
    margin-top: 0.7vh;
    color: #B9BABE;
}

.topic-name-rec hr ,.topic-name-AddOn hr,.topic-name-req hr {
    width: 2vw;
    margin: 0.5vw;
    align-items: center;
    justify-content: space-between;
}
.topic-name-AddOn hr{
    margin-left: 1.1vw;
}
.topic-name-req hr{
    margin-left: 1vw;
}